---
layout: default
description: "Легкочитаемое, быстрое руководство по PHP, содержащее сылки на авторитетные руководства в интернете"
---

{% capture welcome_content %}{% include welcome.md %}{% endcapture %}
{{ welcome_content|markdownify }}

{% capture backtotop %}[Наверх](#top){:.top}{% endcapture %}
{% for post in site.posts reversed %}
    {% if post.isChild != true and loop.first != true %}
    {{ backtotop|markdownify }}
    {% endif %}
    <div id="{{ post.title | downcase | replace:' ','_' | replace:'(','' | replace:')','' | replace:'.','' | replace:'-','' }}">
    {{ post.content }}
    </div>
{% endfor %}
{{ backtotop|markdownify }}
